*{
    margin: 0;
    padding: 0;
}
body{
    font-family:'Montserrat', sans-serif;
}
a{
    text-decoration: none;
}
.top{
    height: 1024px;
    box-sizing: border-box;
    background-image: url(pictures/Rectangle\ 1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.center{
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}
.header__header{
    width: 790px;
    padding-top: 218px;
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 64px;
    line-height: 78px;
    color: #FFFFFF;
}
.header__info {
    width: 481px;
    font-weight: 300;
    font-size: 18px;
    line-height: 32px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
}
.header__button{
    width: 234px;
    background: #9C0332;
    border-radius: 30px;
}
.header__button{
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
}
